/*
Theme Name: Amadeus
Theme URI: http://flyfreemedia.com/themes/amadeus
Author: FlyFreeMedia
Author URI: http://flyfreemedia.com
Description: Amadeus is a responsive blog theme that features a modern and clean design. Features include: a parallax header image, Metaslider integration, ability to use Google Fonts, social icons, full color control, custom widgets and much more. See the demo here: demo.flyfreemedia.com/amadeus
Version: 1.03
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amadeus
Tags: light, fluid-layout, responsive-layout, custom-colors, custom-background, custom-menu, custom-header, featured-images, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Amadeus is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
*/

body {
	font-family: 'Noto Serif', serif;
	font-size: 15px;
	color: #4c4c4c;
	word-wrap: break-word;
	background-color: #f7f3f0;
	line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1c1c1c;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
h1 {
	font-size: 38px;
}
a,
a:hover {
	color: #618EBA;
}
/*--------------------------------------------------------------
Tables
--------------------------------------------------------------*/
table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #e0e0e0;
}
th {
	background-color: #f5f5f5;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	padding: 10px;
	line-height: 1.42857143;
	vertical-align: top;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border: 1px solid #dddddd;
}
/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 15px;
	border: 0;
	color: #fff;
	font-weight: 700;
	background-color: #618EBA;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */

}
input[type="submit"] {
	margin-top: 5px;
}
button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: #17191B;
	color: #fff;
	text-decoration: none;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 14px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 8px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.menu-above {
	border-top: 0;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: center;
}

.main-navigation li {
	display: inline-block;
	position: relative;
	padding: 15px;
	text-transform: uppercase;
	border-right: 1px solid #e0e0e0;
	position: relative; 
	font-weight: 700;
	font-size: 14px;
}
.main-navigation li:last-of-type {
	border-right: 0;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	color: #1c1c1c;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.main-navigation a:hover {
	color: #618EBA;
}

.main-navigation ul ul {
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}
.main-navigation ul ul::before {
	margin-left: 10px;
	content: '\f0de';
	font-family: Fontawesome;
	color: #1c1c1c;
	font-size: 28px;
	height: 10px;
	display: block;
	line-height: 1;
	text-align: left;
}
.main-navigation ul ul ul::before {
	content: '';
	height: 0;
}
.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
	color: #fff;
}

.main-navigation ul ul li {
	text-align: left;
	text-transform: none;
	border-right: 0;	
	background-color: #1c1c1c;
	border-bottom: 1px solid #2f2f2f;
	font-weight: 400;
}
.main-navigation ul ul li:last-of-type {
	border-bottom: 0;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

/* Menu icons */
.main-navigation li::before {
	font-family: Fontawesome;
	color: #1E262D;
	margin-right: 5px;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.slicknav_nav li:hover {
	background-color: transparent;
}
.slicknav_nav li::before {
	display: none;
}
.main-navigation a {
	display: inline-block;
}
.main-navigation ul ul a {
	float: none;
}
.main-navigation ul ul li::before {
	content: '';
}
/* Posts nav */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 45px;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	max-width: 50%;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	padding: 15px;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	max-width: 50%;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	padding: 15px;
}
.nav-next a,
.nav-previous a {
	color: #1c1c1c;
	text-decoration: none;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	text-transform: uppercase;
}
.nav-next a:hover,
.nav-previous a:hover {
	color: #618EBA;
} 
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*--------------------------------------------------------------
# Social Menu
--------------------------------------------------------------*/
.social-navigation {
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
}
.social-navigation ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.social-navigation li {
	position: relative;
	display: inline-block;
	list-style: none;
	line-height: 1;
}
.menu-social-container {
	overflow: hidden;
}
.social-navigation li a {
	text-decoration: none;
	display: block;
	padding: 5px 10px;
	color: #fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;	
}
.social-navigation li a::before {
	font-family: FontAwesome;
	font-size: 18px;
	display: block;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	line-height: 34px;
	background-color: #1c1c1c;
}
.social-navigation li a:hover {
	color: #618EBA;
}
.social-navigation li a[href*="twitter.com"]::before {
	content: '\f099';
}
.social-navigation li a[href*="facebook.com"]::before {
	content: '\f09a';
}
.social-navigation li a[href*="plus.google.com"]::before {
	content: '\f0d5';
}
.social-navigation li a[href*="dribbble.com"]::before {
	content: '\f17d';
}
.social-navigation li a[href*="pinterest.com"]::before {
	content: '\f0d2';
}
.social-navigation li a[href*="youtube.com"]::before {
	content: '\f167';
}
.social-navigation li a[href*="flickr.com"]::before {
	content: '\f16e';
}
.social-navigation li a[href*="vimeo.com"]::before {
	content: '\f194';
}
.social-navigation li a[href*="instagram.com"]::before {
	content: '\f16d';
}
.social-navigation li a[href*="linkedin.com"]::before {
	content: '\f0e1';
}
.social-navigation li a[href*="foursquare.com"]::before {
	content: '\f180';
}
.social-navigation li a[href*="tumblr.com"]::before {
	content: '\f173';
}
.social-navigation li a[href*="github.com"]::before {
	content: '\f09b';
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area .widget {
	margin: 0 0 45px;
	padding: 30px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
}
.widget a {
	color: #4C4C4C;
	text-decoration: none;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.widget a:hover {
	color: #618EBA;;
}
.widget ul {
	padding: 0 0 0 20px;
}
.widget li {
	padding-top: 2px;
	padding-bottom: 2px;
}
.widget .children {
	padding-left: 30px;
}
.widget-area .widget-title {
	position: relative;
	margin: 0 0 15px;
	padding-bottom: 15px;
}
.widget-area .widget-title::after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 30px;
	background-color: #1c1c1c;
	content: '';
}
/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
/* Footer widget area */
.footer-widget-area {
	background-color: #fff;
	border-top: 1px solid #e0e0e0;
	padding: 30px 0 40px;
}
.footer-widget-area .widget {
	margin: 15px 0;
}
.footer-widget-area .widget-title {
	margin: 0 0 30px;
}
/* Default widgets */
.widget_recent_entries ul,
.widget_archive ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_categories ul {
	list-style: none;
	padding: 0;
}
.widget_recent_entries li::before,
.widget_archive li::before,
.widget_pages li::before,
.widget_recent_comments li::before,
.widget_categories li::before {
	font-family: Fontawesome;
	font-size: 15px;
}
.widget_recent_entries li::before {
	content: '\f040';
	margin-right: 5px;
}
.widget_archive li::before {
	content: '\f133';
	margin-right: 8px;
}
.widget_pages li::before {
	content: '\f016';
	margin-right: 8px;	
}
.widget_recent_comments li::before {
	content: '\f0e5';
	margin-right: 8px;
}
.widget_categories li::before {
	content: '\f114';
	margin-right: 8px;
}
.tagcloud a {
	border: 1px solid #41474F;
	padding: 5px;
	font-size: 13px !important;
	display: inline-block;
	margin-bottom: 8px;
	margin-right: 4px;
}
.amadeus_recent_posts_widget ul,
.amadeus_recent_comments ul {
	list-style: none;
	padding: 0;
}
.recent-comment img {
	margin-right: 15px;
	float: left;
}
.amadeus_recent_posts_widget .recent-thumb {
	padding-left: 0;
}
.amadeus_recent_posts_widget .col-md-9,
.amadeus_recent_posts_widget .col-md-12 {
	padding: 0;
}
.amadeus_recent_posts_widget .post-date,
.widget_recent_entries .post-date {
	color: #9d9d9d;
	font-size: 12px;
}
.amadeus_recent_posts_widget h4 {
	margin: 0 0 8px;
}
.amadeus_recent_comments .list-group-item,
.amadeus_recent_posts_widget .list-group-item {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eaeaea;
}
.amadeus_recent_comments .list-group-item:last-of-type,
.amadeus_recent_posts_widget .list-group-item:last-of-type {
	border-bottom: 0;
}
/* About me widget */
.amadeus_about {
	margin-top: 90px !important;
}
.photo-wrapper {
	display: table;
	margin: -120px auto 30px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	padding: 5px;
	border-radius: 50%;
}
.photo-wrapper img {
	max-height: 180px;
	border-radius: 50%;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 45px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
}
.post-inner {
	padding: 45px;
}
.updated:not(.published) {
	display: none;
}
.page .hentry {
	padding: 45px;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-meta .posted-on:after,
.entry-meta .author:after {
	content: '/';
	margin: 0 15px;
}
.entry-meta .author {
	margin-left: -2px;
}
.entry-meta,
.entry-meta a,
.entry-footer,
.entry-footer a {
	color: #9d9d9d;
	text-decoration: none;
}
.entry-meta a,
.entry-footer a {
	-webkit-transition: color 0.3s;
	transition: 0.3s;
}
.entry-meta a:hover,
.entry-footer a:hover {
	color: #618EBA;
}
.entry-footer {
	margin-top: 20px;
	clear: left;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-header {
	margin-bottom: 30px;
}
.entry-title {
	margin: 0 0 20px;
}
.entry-title a {
	color: #1c1c1c;
	-webkit-transition: color 0.3s;
	transition: 0.3s;
	text-decoration: none;
}
.entry-title a:hover {
	color: #618EBA;
}
.single-thumb,
.entry-thumb {
	text-align: center;
	position: relative;
}
.entry-thumb-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: #618EBA;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.entry-thumb:hover .entry-thumb-inner {
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	opacity: 0.6;
}
.thumb-icon {
	opacity: 0;
	position: absolute;
	font-size: 56px;
	top: 42%;
	left: 46%;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;	
}
.thumb-icon,
.thumb-icon:hover {
	color: #fff;
}
.entry-thumb:hover .thumb-icon {
	opacity: 1;
}
.page-header {
	margin: 0 0 45px;
	padding: 0;
	border: 0;
}
.page-title {
	margin: 0;
	padding: 30px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
	margin-bottom: 60px;
}
.comments-title {
	margin: 0;
	font-size: 24px;
	padding: 30px;
	border-bottom: 1px solid #e0e0e0;
	background-color: #fff;
}
.comments-area ol {
	list-style: none;
}
.comments-area ol {
	padding: 0;
}
.comments-area .children {
	padding-left: 20px;
}
.comments-area .fn {
}
.comment-author .avatar {
	position: absolute;
}
.comment-author .fn,
.comment-metadata {
	margin-left: 80px;
}
.comment-metadata {
	font-size: 12px;
	margin-bottom: 30px;
}
.comment-body {
	padding: 30px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	margin-bottom: 15px;
}
.reply {
	text-align: right;
}
.comment-reply-link {
	padding: 5px;
	background-color: #fff;
	font-size: 12px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;	
}
a.comment-reply-link {
	text-decoration: none;
}
a.comment-reply-link:hover {
	color: #000;
	box-shadow: 0 0 1px #505050;
}
.comments-area a.url {
	text-decoration: underline;
}
.comment-metadata a,
.comments-area a.url {
	color: #444;
}
.bypostauthor {
}
.comment-respond {
	margin-top: 60px;
}
.comment-form .form-submit {
	margin-top: 30px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
/*--------------------------------------------------------------
## Metaslider integration
--------------------------------------------------------------*/
.header-slider {
	overflow: hidden;
}
.flex-direction-nav a {
	background: none !important;
	text-indent: 0 !important;
	width: 40px !important;
	height: 40px !important;
	overflow: hidden;
	color: #fff;
	text-decoration: none;
}
.flex-prev::before {
	font-family: Fontawesome;
	content: '\f104';
	font-size: 40px;
	margin-left: 20px;
}
.flex-next::before {
	font-family: Fontawesome;
	content: '\f105';
	font-size: 40px;
	margin-right: 20px;
}
.metaslider .caption-wrap {
	top: 0;
	bottom: auto !important;
	text-align: center;
	padding: 25px 15px;
	font-size: 18px;
	color: #fff !important;
}
/*--------------------------------------------------------------
## Mobile menu
--------------------------------------------------------------*/
.slicknav_menu  .slicknav_menutxt { display: block; font-size: 30px; }
.slicknav_menu .slicknav_icon { display: none; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block; border: 0; }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

.mobile-nav {
	display: none;
}
/* Button */
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    display: block;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
    text-align: center;
}
.slicknav_nav {
    color:#fff;
    margin:0;
    padding:0;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav {
	position: absolute;
    left: 0;
    background-color: #1c1c1c;
    width: 100%;
    z-index: 999;
}
.slicknav_nav ul {
    padding:0;
    margin: 0;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_nav a{
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#fff;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}
.slicknav_nav .slicknav_row:hover {
    color:#fff;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}
/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/
.site-header {
	text-align: center;
	background-color: #fff;
}
.site-branding {
	padding: 60px 0;
}
.site-logo {
	max-width: 200px;
	width: 100%;
}
.show-title {
	margin-bottom: 15px;
}
.site-title {
	/*font-size: 62px;*/
	margin: 0;
	padding-top: 20px;
	font-size: 32px;
}
.site-title a {
	color: #1c1c1c;
	text-decoration: none;
}
.site-description {
	margin: 30px 0 0;
	font-size: 18px;
	color: #767676;
	font-family: 'Noto Serif', serif;
	font-weight: 400;
}
.header-image {
	position: relative;
	height: 300px;
	border-bottom: 1px solid #e0e0e0;
}
.header-scroll {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 35%;
	font-size: 90px;
	-webkit-animation: scroll-anim 1s infinite;
	-moz-animation:    scroll-anim 1s infinite;
	-o-animation:      scroll-anim 1s infinite;
	animation:         scroll-anim 1s infinite;	
}
@-webkit-keyframes scroll-anim {
	0%   { top: 35%; }
	100% { top: 40%; }
}
@-moz-keyframes scroll-anim {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes scroll-anim {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes scroll-anim {
	0%   { top: 35%; }
	100% { top: 40%; }
}
.scroll-icon,
.scroll-icon:hover {
	color: #fff;
}
.scroll-icon {
	text-shadow: 0 0 1px #1c1c1c;
}
.content-area {
	width: 740px;
	float: left;
}
.fullwidth {
	width: 100%;
}
.widget-area {
	width: 360px;
	float: right;
}
.site-content {
	margin-top: 60px;
}
.site-footer {
	padding: 40px 0 30px;
	background-color: #fff;
	border-top: 1px solid #e0e0e0;
	font-size: 14px;
	position: relative;
	text-align: center;
}
.site-footer,
.site-footer a {
	color: #4c4c4c;
}
.scroll-container {
	position: absolute;
	top: -25px;
	width: 100%;
	text-align: center;
}
.scroll-container a {
	display: inline-block;
	padding: 10px;
	line-height: 1;
	font-size: 24px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #1c1c1c;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.scroll-container a:hover {
	background-color: #1c1c1c;
	color: #fff;
}
/* 404 page */
.error404 .content-area {
	width: 100%;
	text-align: center;
	margin-bottom: 45px;
}
/*--------------------------------------------------------------
## Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	.content-area {
		width: 540px;
		float: left;
	}
}
@media (max-width: 1024px) {
	.main-navigation {
		display: none;
	}	
	.mobile-nav {
		display: block;
		background-color: #1c1c1c;
	}
}
@media only screen and (max-width: 1024px) {
	.header-image {
		background-attachment: scroll !important;
		background-position: center !important;
	}
}
@media only screen and (max-width: 991px) {
	.content-area,
	.widget-area {
		width: 100%;
	}	
}
@media only screen and (max-width: 600px) {
	.post-inner {
		padding: 15px;
	}
	h1 {
		font-size: 28px;
	}
	.entry-header {
		margin-bottom: 15px;
	}
	.site-title {
		font-size: 42px !important;
	}
	.site-description {
		font-size: 16px !important;
	}
	.entry-meta,
	.entry-footer {
		font-size: 13px;
	}
	.entry-meta .posted-on:after,
	.entry-meta .author:after {
		margin: 0 5px;
	}
	.entry-meta span {
		display: inline-block;
	}
}
@media only screen and (max-width: 320px) {
	.site-content,
	.footer-widget-area .container {
		padding: 0;
	}
	.hentry,
	.widget-area .widget {
		margin-bottom: 30px;
	}
	.site-title {
		font-size: 32px !important;
	}
	.site-description {
		font-size: 14px !important;
	}
}

