@font-face {
    font-family: 'weblogmayekan';
    src: url('../fonts/Weblogma_Yekan.eot');
    src: url('../fonts/Weblogma_Yekan.eot#iefix') format('embedded-opentype'),
         url('../fonts/Weblogma_Yekan.woff') format('woff'),
         url('../fonts/Weblogma_Yekan.ttf') format('truetype'),
         url('../fonts/Weblogma_Yekan.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}